<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,700' rel='stylesheet' type='text/css'>

<div class="wrapper">
  <div class="top-bar">
    <h1 class="logo">ברוכים הבאים לבית המורה</h1>
  </div>
  <div class="second-bar">
    <nav class="main-nav">
      <a class="home"  [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span>Login</a>
      <a class="videos" [routerLink]="['/register']"><span class="glyphicon glyphicon-user"></span>Register</a>
      <a class="almanac" [routerLink]="['/courses']">all courses</a>
      <a class="snippets" [routerLink]="['/registerTostudy']">להרשמה</a>
      <a class="snippets" [routerLink]="[ '/view-all-routes']">לצפיה במסלולים וקורסים</a>
      <a class="forums" href="#">Forums</a>
    </nav>
  </div>
  <div class="content-wrapper">
   <router-outlet></router-outlet>
  </div>
</div>