<div class="md-col-3" *ngFor="let spealitation of spealitations;let index=index">

  
  
  <div class='container'>
         <div
    
      [ngClass]="{'card-left': index%3==1, 'card-right':index%3==2 , 'card-top':index%3==0}"
        >
          <div class='card-image'>
            <!-- <img [src]="spealitation.img"> -->
          </div>
          <div class='card-text'>
              <p>{{spealitation.specializationName}}</p>
              <button  (click)="getCoursesbySpealizetion(spealitation.specializationCode)"> לצפיה בקורסים </button> 
          </div>
        </div>
        
    </div>
    
    </div>
